@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Josefin+Sans:wght@700&family=Quicksand:wght@300;700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  font-size: 20px;
  max-width: 1360px;
}

.page {
  width: 100%;
  padding-top: 50px;
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  min-height: 500px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: rgb(236, 236, 236);
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.receipt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.receipt-details {
  min-width: 320px;
}

.receipt-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipt-book {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cancel-book {
  background-image: url("../res/x_button.png");
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.total-price {
  width: 100%;
  border-top: black dashed 3px;
}

.rec-money {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rec-amount {
  color: #7b7b7b;
}

.rec-title {
  color: #393939;
}

.rec-price {
  color: rgb(0, 163, 0);
}

.book-list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-box {
  max-width: fit-content;
  max-height: fit-content;
  width: 300px;
  height: 650px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.home {
  padding-top: 0px;
  padding-bottom: 50px;
}

.home-content {
  width: 100%;
  color: wheat;
  height: 480px;
  background-size: 100% 100%;
  background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip")
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 25px;
}

.change-amount {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin: 15px;
}

.book * {
  font-size: 30px;
}

.book-image {
  width: 270px;
  height: 340px;
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.book-preview img {
  width: 95%;
  height: 25vw;
}

button {
  border-radius: 20px;
}

button:hover {
  box-shadow: 2px 2px 2px 2px darkslategray;
}

button:disabled:hover {
  box-shadow: none;

}